<!DOCTYPE html>
<html lang="sl_SI">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv='Pragma' content='no-cache'/>
    <meta http-equiv='Cache-Control' content='no-cache'/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="device-platform" content="UNKNOWN"/>
    <meta name="device-normal" content="true"/>
    <meta name="device-mobile" content="false"/>
    <meta name="device-tablet" content="false"/>

    <title>Yann Map - Simple app</title>

    <script type="text/javascript" src="dev/yann-map.js"></script>
</head>

<body>
    <p>It works...</p>
</body>

<script type="module">
    window.onload = () => {
        const view = new YannMap.ViewContainer();

        view.test();
    };
</script>

</html>